html{
    font-family: "", sans-serif;
}

.heading {
    display: flex;
    align-items: center;
    justify-content: center;
}
.heading > h1{
    font-family: "Poppins";
    font-size: 4rem;
    font-weight: 300;
}

/* .btn img {
}

.btn {
    width: 20%;
    height: 100%;
} */

.section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    
    /* flex-shrink: 1;
    flex-grow: 1 40px; */
    /* flex-basis: 0; */
    /* flex-flow: row;
    flex-basis: max-content; */
}

.section div{
    background: white;
    position: relative;
    width: 20%;
    height: 350px;
    margin: 20px;
}
.section div img{
    position: absolute;
    width: 90%;
    margin: 0px;
    top: 0;
    left: 0;
}
.section div button{
    position: absolute;
    margin: 0px;
    left: 0px;
    width: 110%;
    height: 25%;
    bottom: 0;
}
